@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-40: 255 218 86;
    --primary-50: 255 210 50;
    --primary-60: 255 205 29;
    --gray-10: 242 242 242;
    --gray-20: 229 229 229;
    --gray-30: 199 199 199;
    --gray-40: 138 138 138;
    --gray-50: 94 94 94;
    --gray-60: 49 49 49;
    --gray-70: 43 43 43;
    --gray-80: 31 31 31;
    --gray-90: 21 21 21;
    /* shadcn */

    --background: var(--gray-10);
    --foreground: var(--primary-50);
    --card: var(--gray-10);
    --card-foreground: var(--primary-50);
    --popover: var(--gray-10);
    --popover-foreground: var(--primary-50);
    --primary: var(--primary-50);
    --primary-foreground: var(--gray-80);
    --secondary: var(--gray-10);
    --secondary-foreground: var(--gray-80);
    --muted: var(--primary-50);
    --muted-foreground: var(--gray-80);
    --accent: var(--primary-50);
    --accent-foreground: var(--gray-80);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: var(--border-50);
    --input: var(--bg-50);
    --ring: var(--primary-50);
    --radius: 0.5rem;
    --text: var(--gray-80);
  }

  .dark {
    --background: var(--gray-90);
    --card: var(--gray-90);
    --popover: var(--gray-90);
    --secondary: var(--gray-90);
    --text: var(--gray-10);
  }

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  * {
    @apply border-border;
    /* @apply font-inter; */
  }

  html {
    font-size: 16px;
  }
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    /* background: var(--muted-background); */
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(var(--primary-50) / 20);
    border-radius: 2px;
  }
}

loading-circle {
  position: relative;
  animation: lc-rotate 2s linear infinite;
}
@keyframes lc-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
loading-circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: lc-animate 4s linear infinite;
}
@keyframes lc-animate {
  0%,
  100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}
